attrs==25.4.0
greenlet==3.2.4
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
psycopg2-binary==2.9.11
Pygments==2.19.2
pytest==8.4.2
pytest-subtests==0.14.2
SQLAlchemy==2.0.44
typing_extensions==4.15.0
